<div class="container">
    <div class="row">
      <div class="col-sm-2 left-side-bar">
        <nav style="float: left;" id="announcements">
          <h6 class="toc" style="color: rgb(9, 7, 140);margin-top: 1em;">Announcements</h6>
          <ul id="announcement_list" class="list-none">
            {% for announcement in site.data.announcements %}
            <li style="color: rgb(9, 7, 140);font-size: smaller;margin-bottom:
            .7rem;">{{ announcement }}</li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    <div class="col-lg-8" style="background-color: white;color: #333333;margin-top: -1em;margin-bottom: -1em;padding-bottom:1em;margin-left:5%">
  <!-- bootstrap layout -->
